<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Logout</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>

<body>
    <div class="container">
        <h1 class="titulo-error">
            Usuario o contraseña incorrectos, por favor reingrese.
        </h1>

        <div class="botones-login">
            <button onclick="location.href='/login'" id="btn-login" class="boton-form">Ir al Login</button>
        </div>
    </div>
    
</body>

</html>