<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Logout</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>

<body>
    <div class="container">
        <h1 class="titulo-error">
            USER ERROR SIGNUP
        </h1>

        <div class="botones-login">
            <button id="btn-registro" onclick="location.href='/signup'" class="boton-form" >Ir al registro</button>
        </div>
    </div>
    
</body>

</html>