<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión</title>
  <link rel="stylesheet" href="../../styles/styles.css">
</head>

<body>
  <div>
    <div class="container login">
      <h1 class="titulo">Login de Usuario</h1>
      <br>
      <form action="/login" class="form" method="post" autocomplete="off">
        <div class="form-login">
            <label class="label-form" for="email">Ingrese email</label>
            <input id="email" type="email" name="username" class="input-form" required>
        </div>
        <div class="form-login">
          <label class="label-form" for="password">Ingrese contraseña</label>
          <input id="password" type="password" name="password" class="input-form" required>
        </div>
        <div class="botones-login">
          <button id="btn-ingresar" class="boton-form">Iniciar sesión</button>
        </div>
      </form>
      <div class="botones-login">
        <button id="btn-registro" onclick="location.href='/signup'" class="boton-form"> Crear cuenta</button>
      </div>
    </div>
  </div>

</body>

</html>