<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>


<body class="container">

    <%- include("template/navBar") %>

    <div class="titulo-home">
        <h1 class="h1-home">
            ยก Hola <%= name %> ! <br>
        </h1>
    </div>
    <div class="titulo-productos">
        <h1>Productos</h1>
    </div>

    <div class="filter">
        <p class="filter-content">Filtrar:</p>
        <button class="filter-content btn-filter" id="pizzas">Pizzas</button>
        <button class="filter-content btn-filter" id="pastas">Pastas</button>
    </div>

    <div id="productos"></div>

    <div id="productosFiltrados"></div>

    <script src="../js/productos.js" type="module"></script>
    
    <script>
        setTimeout(() => {
            location.href = '/'
        }, 600000)
    </script>

    
</body>

</html>