    <head>
        <link rel="stylesheet" href="../../styles/styles.css">
    </head>
    
    <header class="header">
        <nav class="navBar">
            <a href="/">Productos</a>
            <a href="/carrito">Carrito</a>
            <a href="/chat">Chat</a>
            <a href="/miCuenta">Mi Cuenta</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
